@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&display=swap');

body {
    background-color: #A7b8a6;
    color: #383431;
    text-align: center;
  }
  
  h1 {
        text-transform: uppercase; 
        font-family: 'Italiana', serif;
        
        color: #383431;
        text-align: center;
  }
  
  .footerWrap {
      width:100%;
      position:fixed;
      bottom: 0px;
  }
      .footer {
        width:400px;
        margin:auto;
    }
    .footerContent {
        float:left;
        width:100%;
        background-color: #A7b8a6;
        padding:20px 0;
        font-family: 'raleway', sans-serif;
    }
    .footer p {float:left; width:100%; text-align:center; 
     }


    a {
        color: #3D3D3D; /* ensures color of links */
    }
    
    * { /* The asterisk is a universal selector that applies this effect to all elements on the page */
      box-sizing: border-box; /* This creates a box with a border within which we will place most of our text */
  } 

    .Column_1 {
        float: left;
        color: #383431;
        text-align: center; 
        font-family:'Raleway', sans-serif;
        width: 50%; /* This ensures the column takes up half of the page width */
        padding: 10px;
        padding-top: 3%; /* This ensures there is space between the top of the column and our headings */
        height: 600px; /* This sets the height of the column to 400px -  this may need to be adjusted depending on the text you enter */
        background-color: #bd9965; /* Sets the background color of the columns with class Column_1 */
    }
    

    .Column_2 {
      float: left;
      color: #383431;
      text-align: center; 
      font-family:'Raleway', sans-serif;
      width: 50%;
      padding: 10px;
      padding-top: 3%;
      height: 600px;
      background-color:#bd9965 ;
  }

  .Column_tall {
    padding-top: 3.5%;
    height: 450px;
}






.button {
    background: #bd9965;
    -webkit-border-radius: 18;
    -moz-border-radius: 18;
    border-radius: 18px;
    text-transform: uppercase;
    font-family: 'Italiana', serif;
    color: cmyk(0%, 7%, 13%, 78%);
    font-size: 25px;
    padding: 10px 20px 10px 20px;
    border: solid #bd9965 2px;
    text-decoration: none;
  }
  